<div>
  <div fxLayout="row"
       fxLayoutAlign="start"
       fxFill>

    <div fxFlex="50" fxLayoutAlign="bottom" class="c1"><img src="assets/sig-en.png" title="Government of Canada"/></div>
    <div fxFlex="50" class="c2"><img style="padding-bottom: 2pt" src="assets/wmms-intra.png"
                                     title="Symbol of the Government of Canada"/></div>

  </div>

  <div id="searchBar"
       flexLayout="row"
       fxLayoutAlign="start stretch"
       fxFill>

    <div id="wb-sttl" class="c1" fxFlex="50">Infozone</div>
    <div class="c2" fxFlex="50"></div>
  </div>
</div>
