<h3>
  Welcome to Release Coordination I-Signon. 
</h3>
<h4>Purpose of I-Signon</h4>
<p>
	The purpose of this site is to support the efforts of the Production and Release Coordination Services (PARCS) team in managing, and tracking progress of signon activities.
</p>
<h4>Profile Registration</h4>
<p>
	If your area has been invited to participate in a release family, please complete a release family profile by selecting the <strong>"Register Profile"</strong> menu selection above.
</p>
<h4>Signon Confirmation</h4>
<p>
	If you are confirming your team's participation in a particular signon, please complete the required confirmation form by selecting <strong>"Confirm Signon Participation"</strong> menu selection above.
</p>
