<div class="top-level-class p-grid p-dir-col" >
  <div class="p-col" style="border: thick solid yellow">
    <div style="border: thick solid green">
      <kr-wet-banner></kr-wet-banner>
    </div>
    <div class="p-col">
      <kr-menubar></kr-menubar>
    </div>
    <div class="p-col" style="border: thick solid olive">
      <kr-breadcrumbs></kr-breadcrumbs>
    </div>
    <div class="p-col" style="border: thick solid deepskyblue">
      <kr-report-page-title reportTitle="Report page title"></kr-report-page-title>
    </div>

    <div class="p-col" style="border: thick solid orange; overflow-y: auto">
      <router-outlet></router-outlet>
    </div>
    <!--
    <div fxLayout="row" style="border: thick solid magenta; overflow-y: auto">
      <div style="border: thick solid black; overflow-y: auto"> tree area sasfdsa a a fas asd a asfaxxxxxx
        <p style="height: 720pt">foo</p>
      </div>
      <div style="border: thick solid orange; overflow-y: auto">
        <router-outlet></router-outlet>
      </div>
    </div>
    -->
  </div>
</div>
